/* This css changes the format for how do you play Pokemon Masters html. */
body
{
	font-family: "Georgia", "Arial Narrow";
	text-align: justify;
	background-color: lightyellow;
}

h1
{
	text-align: center;
	font-size: 40px;
	font-family: "Impact", "Arial Narrow";
}

h2
{
	color: red;
}	

p.onLink
{
	color: black;
	font-family: "Impact", "Arial Narrow";
}

#link1
{
	color: blue;
}

#link2
{
	color: green;
}

#link3
{
	color: purple;
}

#video
{
	color: Maroon;
}

#navbar
{
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	position: fixed;
	overflow: hidden;
	background-color: blue;
	width: 100%;
	height: 25px;
	top: 0%;
}

.navbar1
{
	
	float: left;
	margin: 0%;
	padding: 0%;
}

.navbar4
{
	display: inline-block;
	margin: 0%;
	color: white;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.navbar2
{
	display: inline-block;
	margin: 0%;
	color: white;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding: 6px 20px;
	text-decoration: none;
}

#navbar3
{
	float: right;
}

#navbar5
{
	float: right;
}

.navbar2:hover
{
	background-color: green;
}

.navbar4:hover
{
	background-color: green;
}

.activenav
{
	background-color: green;
	display: inline-block;
	margin: 0%;
	color: white;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	padding: 3px 10px;
	text-decoration: none;
}
